aplicativo/gradle-wrapper.jar
aplicativo/.gradle
aplicativo/captures/
aplicativo/gradlew
aplicativo/gradlew.bat
aplicativo/local.properties
aplicativo/android/key.properties
aplicativo/GeneratedPluginRegistrant.java
aplicativo/.gitignore

backend/node_modules
backend/procfile
backend/images/Assets/*
backend/.gitignore
frontend/node_modules
frontend/*.pnp
frontend/*.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.gitignore
