h1 {
    color: #3b3b39;
}

.profile-container {
    width: 100%;
    max-height: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}
.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span{
    font-size: 20px;
    margin-left: 24px;
}
.profile-container header img {
    height: 64px;
}

.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.profile-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.profile-container header button:hover {
    border-color: #999
}

.profile-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.profile-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
    margin-bottom: 10px;
}

.profile-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.profile-container ul li p + strong{
    margin-top: 32px;
}

.profile-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}


.profile-container ul .pedido {
    background: #FFF;
    max-width: 350px;
    padding: 24px;
    border-radius: 7px;
    position: relative;
}

.profile-container ul .pedido button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
    transition: opacity 0.2s;
}

.profile-container ul .pedido button:hover {
    opacity: 0.8;
}

.profile-container ul .cardapio{
    background: #FFF;
    max-width: 350px;
    border-radius: 7px;
    position: relative;
    text-align: center;
}

.profile-container ul .cardapio img{
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

.profile-container ul .cardapio img + strong{
    font-size: 24px;
}

.profile-container ul .cardapio strong{
    margin: 4%;
}

.profile-container ul .cardapio p {
    margin-bottom: 2%;
}

.profile-container ul .cardapio button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.profile-container ul .cardapio button:hover {
    opacity: 1;
}