.cardapio-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardapio-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardapio-container .content section {
    width: 100%;
    max-width: 380px;
}

.cardapio-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.cardapio-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.cardapio-container .content form {
    width: 100%;
    max-width: 450px;
}

.cardapio-container .content form input,
.cardapio-container .content form textarea{
    margin-top: 8px;
}

.cardapio-container .content form input[type="file"]
{  
  width: 100%;
  padding: 10px;
  color: #000;
  background: #f0f0f5;
  border: 1.5px solid #FF8F00;
  border-radius: 20px;
}

.cardapio-container .content input[type="file"]::-webkit-file-upload-button
{
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

.cardapio-container .content input[type="file"]::before
{  
  content: "Escolha";
  display: inline-block;
  float: right;
  padding: 7.5px;
  border: 2px solid #FF8F00;
  border-radius: 20px;
}