h1 {
    color: #f0f0f5;
}

.logon-container {
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    background: url('../../assets/background-logon.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section form h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.logon-container section h1 {
    font-size: 42px;
    margin-bottom: 30%;
    max-height: 400px;
    text-align: center;
}
 
 